:root {
    --branding-color: #c15075;
    --primary-color: #000;
    --default-color: #272142;
    --secondary-color: #fff;
    --background-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--default-font-family);
    color: var(--default-color);
}

* {
    box-sizing: border-box;
}

.logo {
    max-height: 34px;
    padding-left: 70px;
}

.navbar {
    padding: 20px 0px;
    display: flex;
    gap: 760px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background-color: var(--secondary-color);
}

@media (max-width: 1360px) {
    .navbar {
        gap: 680px;
    }
}

@media (max-width: 1280px) {
    .navbar {
        gap: 600px;
    }
}

.navbar li {
    display: inline;
    line-height: 42px;
    margin-left: 30px;
}

.navbar a {
    text-decoration: none;
    color: var(--default-color);
    transition: all 100ms ease-in-out;
}

.navbar a:hover,
.navbar li.active a {
    color: var(--branding-color);
}

.hero-section {
    background: var(--background-color);
    text-align: center;
    padding: 250px 0 150px;
}

.hero-section p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.hero-section h1 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-size: 96px;
}

.hero-section h2 {
    color: var(--default-color);
    font-size: 24px;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 70px;
}

.btn-branding {
    background-color: var(--branding-color);
    border-radius: 4px;
    color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
    padding: 18px 30px;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.btn-branding:hover {
    color: var(--branding-color);
    background-color: var(--background-color);
    border: 2px solid var(--branding-color);
    box-shadow: 4px 4px;
}

.projects-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.projects-section {
    padding: 20px 70px;
}

.projects-section h2 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-size: 64px;
    line-height: normal;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.project-image {
    border-radius: 14px;
    width: 600px;
}

.project-desciption {
    padding: 0px 60px;
}

.project-desciption h3 {
    font-family: var(--heading-font-family);
    color: var(--primary-color);
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
}

.project-desciption p {
    opacity: 0.7;
    line-height: 1.4;
    text-align: center;
    margin-top: 24px;
}

.coded {
    margin-bottom: 60px;
}

.project-desciption a {
    color: var(--branding-color);
    border: 2px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin-left: 160px;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-desciption a:hover {
    color: var(--secondary-color);
    background-color: var(--branding-color);
    box-shadow: 4px 4px var(--default-color);
}

.content-section {
    padding: 160px 70px;
    background-color: var(--background-color);
}

.content-wrapper {
    display: grid;
    grid-template-columns: 500px 700px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
    color: var(--primary-color);
    font-family: var(--heading-font-family);

}

.content h2 {
    font-size: 18px;
    line-height: normal;
    margin-top: 28px;
    margin-bottom: 28px;
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
}

.content p {
    opacity: 0.7;
    line-height: 1.4;
    margin-bottom: 58px;
}

.content {
    margin: 30px;
}

.content-image {
    width: 560px;
    height: 560px;
    border: 8px solid var(--branding-color);
    border-radius: 50%;
    margin-left: 100px;
}