:root {
    --branding-color: #c15075;
    --primary-color: #000;
    --default-color: #272142;
    --secondary-color: #fff;
    --background-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--default-font-family);
    color: var(--default-color);
    font-size: 18px;
}

.container {
    padding: 0 80px;
}

.logo {
    max-height: 34px;
}

.navbar {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: var(--secondary-color);
}

.navbar li {
    display: inline;
    line-height: 42px;
    margin-left: 30px;
}

.navbar a {
    color: var(--default-color);
    transition: all 100ms ease-in-out;
}

.navbar a:hover,
.navbar li.active a {
    color: var(--branding-color);
}

.burger-menu {
    display: none;
}

.hero-section {
    background: var(--background-color);
    text-align: center;
    padding: 250px 0 150px;
}

.hero-section p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.hero-section h1 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-size: 96px;
}

.hero-section h2 {
    color: var(--default-color);
    font-size: 24px;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 70px;
}

.btn-branding {
    background-color: var(--branding-color);
    border-radius: 4px;
    color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 18px 30px;
    transition: all 100ms ease-in-out;
}

.btn-branding:hover {
    color: var(--branding-color);
    background-color: var(--background-color);
    border: 2px solid var(--branding-color);
    box-shadow: 4px 4px;
}

.projects-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.projects-section {
    padding: 20px 0;
}

.projects-section h2 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-size: 64px;
    line-height: normal;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.project-image {
    border-radius: 14px;
    width: 600px;
}

.project-desciption {
    padding: 40px 60px;
}

.project-desciption h3 {
    font-family: var(--heading-font-family);
    color: var(--primary-color);
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
}

.project-desciption p {
    opacity: 0.7;
    line-height: 1.4;
    text-align: center;
    margin-top: 24px;
}

.coded {
    margin-bottom: 60px;
}

.project-desciption a {
    color: var(--branding-color);
    border: 2px solid var(--branding-color);
    border-radius: 4px;
    line-height: 27px;
    padding: 15px 30px;
    margin-left: 160px;
    transition: all 100ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-desciption a:hover {
    color: var(--secondary-color);
    background-color: var(--branding-color);
    box-shadow: 4px 4px var(--default-color);
}

.about-section {
    padding: 110px 0;
    background-color: var(--background-color);
}

.about-wrapper {
    display: grid;
    grid-template-columns: 500px 700px;
}

.about-description h1 {
    font-size: 64px;
    line-height: 80px;
    color: var(--primary-color);
    font-family: var(--heading-font-family);

}

.about-description h2 {
    line-height: normal;
    margin-top: 28px;
    margin-bottom: 28px;
}

.about-description p {
    opacity: 0.7;
    line-height: 1.4;
    margin-bottom: 58px;
}

.about-description {
    margin: 30px;
}

.about-image {
    width: 560px;
    height: 560px;
    border: 8px solid var(--branding-color);
    border-radius: 50%;
    margin-left: 100px;
}

.work-section {
    padding: 160px 0px 160px 40px;
}

.work-section h1 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-size: 64px;
    line-height: normal;
    margin-bottom: 100px;
}

.work-section h3 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 10px;
}

.work-section p {
    font-size: 14px;
    line-height: normal;
    text-align: center;
    opacity: 0.7;
}

.work-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.work-image {
    width: 570px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.work-image:hover {
    transform: scale(1.2);
}

.contact-section {
    padding: 150px 0;
}

.contact-section h1 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-size: 64px;
    line-height: normal;
    margin: 70px 0 0 60px;
}

.contact-section h2 {
    font-size: 54px;
    text-align: center;
    margin-top: 40px;
}

.contact-section p {
    line-height: normal;
    text-align: center;
    margin-top: 20px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
}

.contact-form {
    margin: 30px auto 0;
    width: 675px;
}

.contact-form span {
    color: var(--branding-color);
    font-weight: 700;
}

.contact-form input,
textarea {
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 1px 4px #00000008;
    font-size: 18px;
    font-family: var(--default-font-family);
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 10px;
}

.contact-form input {
    height: 50px;
}

.contact-form input:focus,
textarea:focus {
    outline: 0;
    border: 2px solid var(--default-color);
}

.contact-form__row {
    display: grid;
    grid-template-columns: 330px 330px;
    justify-content: space-between;
}

.contact-form input#name,
input#email {
    display: block;
    width: 100%;
}

.contact-form input#subject {
    display: block;
    width: 100%;
}

.contact-form textarea {
    display: block;
    width: 100%;
    height: 130px;
}

.contact-form button {
    font-family: var(--default-font-family);
    font-size: 18px;
    display: block;
    margin: 0 auto;
    border: none;
}

.footer {
    margin: 60px 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    background: var(--background-color);
    padding: 50px 120px;
    margin-bottom: 80px;
}

.footer-wrapper h4 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 48px;
}

.footer-wrapper p {
    line-height: normal;
    opacity: 0.7;
    margin-top: 18px;
    margin-left: 6px;
}

.footer-btn {
    padding-top: 40px;
}

.footer-email {
    width: 266px;
    margin: auto;
}

.email-link {
    color: var(--primary-color);
    font-size: 24px;
}

.email-link:hover {
    color: var(--branding-color);
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--background-color);
    padding: 15px 16px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

.social-links a:hover {
    color: var(--secondary-color);
    background: var(--branding-color);
}

.developer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: normal;
}

.developer a {
    color: #c15075;
    font-weight: 700;
}

.developer a:hover {
    color: var(--default-color);
    text-decoration: underline;
}

/* Responsive */

@media (max-width: 1360px) {
    .container {
        padding: 0 70px;
    }

    .navbar {
        padding: 20px 70px;
    }

    .work-section {
        padding-left: 0;
    }

    .work-wrapper {
        gap: 80px 62px;
    }
}

@media (max-width: 1280px) {
    .container {
        padding: 0 60px;
    }

    .navbar {
        padding: 20px 60px;
    }

    .about-image {
        width: 540px;
        height: 540px;
        margin-left: 80px;
    }

    .work-wrapper {
        gap: 60px 20px;
    }
}

@media (max-width: 1199px) {
    .project-desciption a {
        margin-left: 100px;
    }

    .about-image {
        width: 500px;
        height: 500px;
        margin-left: 60px;
    }

    .work-image {
        width: 528px;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 0;
    }

    .nav-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 50px;
        width: 32px;
        height: 40px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--primary-color);
        transition: 0.3s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 20px 0 0;
        text-align: center;
        background-color: var(--secondary-color);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition: 0.3s;
        overflow-y: scroll;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 500;
        transition: background 0.3s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

    .projects-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .project-image {
        display: block;
        margin: 0 auto;
    }

    .project-desciption {
        margin: auto;
        width: 600px;
    }

    .project-desciption a {
        margin-left: 160px;
    }

    .about-wrapper {
        display: block;
    }

    .about-description {
        width: 600px;
        margin: 30px auto;
        text-align: center;
    }

    .about-description h1 {
        font-size: 58px;
    }

    .about-image {
        width: 560px;
        height: 560px;
        display: block;
        margin: 100px auto;
    }

    .work-section {
        padding-left: 0px;
    }

    .work-section h1 {
        text-align: center;
        margin-bottom: 100px;
    }

    .work-wrapper {
        display: block;
        margin: auto;
    }

    .work-section p {
        margin-bottom: 50px;
    }

    .work-image {
        width: 600px;
        display: block;
        margin: auto;
    }

    .work-image:hover {
        transform: scale(1.2);
    }

    .contact-section {
        padding: 150px 0;
    }

    .contact-section h1 {
        text-align: center;
        margin: 50px 0 50px 0;
    }

    .contact-wrapper {
        flex-direction: column;
    }

    .contact-image {
        display: block;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .navbar {
        padding: 20px 0 20px 20px;
    }

    .hero-section p {
        font-size: 30px;
    }

    .hero-section h1 {
        font-size: 80px;
    }

    .hero-section h2 {
        font-size: 20px;
    }

    .projects-section h2 {
        font-size: 54px;
    }

    .project-image {
        width: 476px;
    }

    .project-desciption {
        padding: 40px 70px 40px 40px;
    }

    .project-desciption h3 {
        font-size: 40px;
    }

    .about-description {
        margin: 0;
    }

    .about-description h1 {
        font-size: 48px;
    }

    .about-description p {
        width: 476px;
        margin: 30px auto 60px;
    }

    .about-image {
        width: 330px;
        height: 330px;
        display: block;
        margin: 70px auto;
    }

    .work-section h1 {
        font-size: 48px;

    }

    .work-image {
        width: 470px;
    }

    .contact-section h1 {
        font-size: 54px;
    }

    .contact-image {
        width: 476px;
    }

    .contact-section h2 {
        font-size: 44px;
    }

    .contact-section p {
        width: 476px;
        margin: 30px auto;
    }

    .contact-form {
        width: 476px;
    }

    .contact-form__row {
        grid-template-columns: 230px 230px;
    }

    .footer-wrapper {
        padding: 50px;
    }

    .footer-wrapper h4 {
        font-size: 28px;
    }

    .footer-btn {
        padding-top: 30px;
    }
}

@media (max-width: 575px) {
    .logo {
        width: 130px;
        height: 25px;
    }

    .menu__btn {
        right: 20px;
    }

    .hero-section p {
        font-size: 26px;
    }

    .hero-section h1 {
        font-size: 72px;
    }

    .hero-section h2 {
        width: 300px;
        margin: 30px auto 50px;
    }

    .projects-section h2 {
        font-size: 40px;
    }

    .project-image {
        width: 300px;
    }

    .project-desciption {
        padding: 30px 10px;
        width: 300px;
    }

    .project-desciption h3 {
        font-size: 30px;
    }

    .project-desciption a {
        margin-left: 60px;
    }

    .about-section {
        padding: 100px 0 30px 16px;

    }

    .about-description h1 {
        font-size: 44px;
        line-height: normal;
    }

    .about-description p {
        width: 300px;
    }

    .about-description {
        width: 300px;
        margin: 20px 0 80px 30px;
    }

    .about-image {
        width: 300px;
        height: 300px;
        display: block;
        margin: 60px auto 0;
    }

    .work-section {
        padding: 100px 20px 10px;
    }

    .work-section h1 {
        font-size: 28px;
        margin: 0 10px 40px;
    }

    .work-section h3 {
        font-size: 18px;
    }

    .work-image {
        width: 300px;
    }

    .contact-section h1 {
        font-size: 34px;
    }

    .contact-image {
        width: 300px;
    }

    .contact-section h2 {
        font-size: 30px;
    }

    .contact-section p {
        width: 300px;
        margin: 30px auto;
    }

    .contact-form {
        width: 300px;
    }

    .contact-form__row {
        display: block;
    }

    .footer-wrapper {
        display: block;
        padding: 40px 100px;
    }

    .footer-btn {
        padding-top: 54px;
        padding-left: 8px;
    }

    .developer {
        padding: 0 20px;
    }
}